// DARK MODE
$primary-color-dark: #212d40;
$secondary-color-dark: #11151c;
$font-color-dark: #e5e5e5;

// LIGHT MODE
$primary-color-light: #212d40;
$secondary-color-light: #11151c;
$font-color-light: #e5e5e5;

// LOGO COLORS
$primary-color: #4cc9f0;
