@import "./variables.scss";

.form {
  width: 100%;
  font-size: 2rem;

  &__button {
    padding: 1rem 0;
    width: 50%;
    cursor: pointer;
    border: 1px solid var(--theme-secondary-color);
    transition: all 0.2s;
    margin-top: 1rem;
    color: var(--theme-font-color);
    font-weight: 700;
    background-color: red;

    &:active {
      transform: scale(0.9);
    }

    &--submit {
      background-color: rgba($primary-color, 0.4);
      border-top-right-radius: $border-radius-size;
      border-bottom-right-radius: $border-radius-size;
      &:hover {
        background-color: rgba($primary-color, 0.7);
      }
    }

    &--cancel {
      background-color: rgba(red, 0.4);
      border-top-left-radius: $border-radius-size;
      border-bottom-left-radius: $border-radius-size;

      &:hover {
        background-color: rgba(red, 0.7);
      }
    }

    &--subtask {
      justify-self: center;
      width: 50%;
      grid-column: 3/5;
      padding: 1rem 0;
      background-color: var(--theme-secondary-color);
      border-radius: $border-radius-size;
      transition: opacity 0.2s, scale 0.3s;
      opacity: 1;

      &:disabled {
        opacity: 0.2;
      }

      &:not(:disabled):hover {
        scale: 1.02;
      }

      &:not(:disabled):active {
        scale: 0.99;
      }
    }

    &--task {
      justify-self: center;
      width: 50%;
      grid-column: 2/4;
      grid-row: 6/7;
      padding: 1rem 0;
      background-color: var(--theme-secondary-color);
      border-radius: $border-radius-size;
      transition: opacity 0.2s, scale 0.3s;
      opacity: 1;

      &:disabled {
        opacity: 0.2;
      }

      &:not(:disabled):hover {
        scale: 1.02;
      }

      &:not(:disabled):active {
        scale: 0.99;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1rem;
  }

  &__input {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    background-color: var(--theme-secondary-color);
    color: var(--theme-font-color);
    border-radius: $border-radius-size;
    border: none;
    font-family: inherit;
    opacity: 1;
    transition: opacity 0.2s;

    &:disabled {
      opacity: 0.3;
    }

    &--checkbox {
      background-color: var(--theme-primary-color);
      height: 3rem;
      transition: opacity 0.2s;

      &:disabled {
        opacity: 0.3;
      }
    }

    &:focus {
      outline: none;
    }

    &--table {
      background-color: var(--theme-primary-color);
    }
  }

  &__input::placeholder {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
}
