@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Nunito; // CHANGE
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 2rem;
  background-color: transparent;
  border-radius: $border-radius-size;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--theme-primary-color);
  border: 5px solid var(--theme-secondary-color);
  border-radius: $border-radius-size;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary-color);
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

abbr {
  text-decoration: none;
}

.app {
  width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: minmax(min-content, 20%) minmax(30%, 83%);
  grid-template-rows: 100vh;
  overflow: hidden;
  color: var(--theme-font-color);
  background-color: var(--theme-primary-color);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background: var(--theme-secondary-color);
}

a {
  text-decoration: none;
  color: inherit;
}
