@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import "./variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Nunito; // CHANGE
}

::-webkit-scrollbar {
  height: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 2rem;
  background-color: transparent;
  border-radius: $border-radius-size;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $primary-color-dark;
  border: 7px solid $secondary-color-dark;
  border-radius: $border-radius-size;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color-dark;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.app {
  width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: minmax(min-content, 17%) minmax(30%, 83%);
  grid-template-rows: 100vh;
  overflow: hidden;

  &.dark {
    color: $font-color-dark;

    > .sidebar {
      background-color: $primary-color-dark;
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background: $secondary-color-dark;
}
